        
        /* ICI ON METTRA LE CODE CSS */
        
section, footer {
    padding-top:4em;
    padding-bottom:3em;
}   

footer {
    margin-bottom:3em;
}

#section1 {
    background: url('../images/art-desert-dunes-bw.jpg');
    background-size: cover;
    text-shadow:1px 1px 1px #ffffff;
}   

#section3 {
    background: url('../images/pexels-photo.jpg');
    background-size: cover;
    text-shadow:1px 1px 1px #ffffff;
}   
